body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

#root {
    display: flex;
}

.renderer, .main {
    background: rgb(168, 235, 18);
    padding: 5px;
    margin: 5px;
    width: 300px;
    height: 100px;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    border-radius: 20px;
    font-family: monospace;
    font-weight: bold;
}

.renderer-data, .main-data {
    overflow-wrap: break-word;
    font-weight: normal;
    margin-top: 10px;
}
